h1 {
    font-weight: 100px;
    color: antiquewhite;
    text-align: center;
    font-size: 70px;

}

html {
    background-color: rgb(74, 76, 75);
}

img {
    width: 50%;
    margin-left: 25%;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;

}

body {
    background-color: rgb(46, 62, 57);
    
    border: 5px solid burlywood;
    width: 60%;
    margin-left:20%;

}

p,a {
    color: antiquewhite;
    text-align: center;
    
    font-size: 20px;
}

p.one {color: blue;}

ul { 
	position: relative; 
	display: inline-block; 
	padding-left: 1em; 
	left: 50%; 
	transform: translateX(-50%);
    color: antiquewhite; 
} 


li.one {
border-style: dotted; border-color: red;border-width: 4px;}

li.three{ border-style:dotted ;border-color: red; border-width: 4px;}

